.wrapper {
	@apply relative;
}

.error-txt {
	@apply absolute -bottom-5 px-1.5 leading-3 text-sm;
}

.input-wrapper {
	@apply relative;

	> input:focus ~ span.label {
		@apply text-black;
	}

	> textarea:focus ~ span.label {
		@apply text-black;
	}
}

.required {
	@apply text-red-500 text-lg absolute -top-3 -right-1;
}

.label {
	@apply absolute -top-5 left-1 text-muted text-sm transition-colors;
}

.password-eye {
	@apply absolute top-1/2 right-1.5 -translate-y-[25%] z-20 p-px;

	> svg {
		@apply opacity-70 transition-opacity duration-200 will-change-auto;
	}

	& ~ .clear-btn {
		@apply right-8;
	}

	&:hover > svg {
		@apply opacity-100;
	}
}

.clear-btn {
	@apply absolute top-1/2 right-1.5 -translate-y-[25%] z-20 p-px opacity-100 scale-100 transition-all will-change-auto;

	> svg {
		@apply opacity-70 transition-opacity duration-200 will-change-auto;
	}

	&:hover > svg {
		@apply opacity-100;
	}
}

.loader {
	@apply absolute left-3 top-1/2 -translate-y-1/2 flex items-center gap-3 opacity-0 animate-show-effect;

	> div {
		@apply h-4 w-4 duration-700 !rounded-full;

		&:nth-of-type(2) {
			@apply delay-150;
		}

		&:nth-of-type(3) {
			@apply delay-300;
		}
	}
}
