.input {
	@apply relative z-10 w-full bg-transparent px-3 pb-2 pt-5 text-input transition-all duration-500 will-change-auto;

	&::placeholder {
		@apply sr-only opacity-0;
	}

	&:focus,
	&:not(:placeholder-shown) {
		& ~ .label {
			@apply -translate-y-7 px-1.5 text-sm text-black;
		}
		& ~ .decor-input {
			@apply h-9;
		}
	}
}

.decor-input {
	@apply pointer-events-none absolute bottom-1 left-0 h-0.5 w-full overflow-hidden rounded-md bg-white transition-all duration-500 will-change-auto;
}

.label {
	@apply pointer-events-none absolute left-0 top-0 select-none px-3 pb-2 pt-5 text-muted transition-all duration-500 will-change-auto;
}
