.input {
	@apply relative w-full pt-5 px-3 pb-2 bg-transparent text-input z-10 transition-all duration-500 will-change-auto;

	&::placeholder {
		@apply opacity-0 sr-only;
	}

	&:focus,
	&:not(:placeholder-shown) {
		& ~ .label {
			@apply text-black -translate-y-7 text-sm px-1.5;
		}
		& ~ .decor-input {
			@apply h-9;
		}
	}
}

.decor-input {
	@apply absolute left-0 bottom-1 w-full h-0.5 bg-white rounded-md overflow-hidden transition-all duration-500 pointer-events-none will-change-auto;
}

.label {
	@apply absolute top-0 left-0 pt-5 px-3 pb-2 text-muted transition-all duration-500 select-none pointer-events-none will-change-auto;
}
