.wrapper {
	@apply relative;
}

.error-txt {
	@apply absolute -bottom-5 px-1.5 text-sm leading-3;
}

.input-wrapper {
	@apply relative;

	> input:focus ~ span.label {
		@apply text-black;
	}

	> textarea:focus ~ span.label {
		@apply text-black;
	}
}

.required {
	@apply absolute -right-1 -top-3 text-lg text-red-500;
}

.label {
	@apply absolute -top-5 left-1 text-sm text-muted transition-colors;
}

.password-eye {
	@apply absolute right-1.5 top-1/2 z-20 -translate-y-[25%] p-px;

	> svg {
		@apply opacity-70 transition-opacity duration-200 will-change-auto;
	}

	& ~ .clear-btn {
		@apply right-8;
	}

	&:hover > svg {
		@apply opacity-100;
	}
}

.clear-btn {
	@apply absolute right-1.5 top-1/2 z-20 -translate-y-[25%] scale-100 p-px opacity-100 transition-all will-change-auto;

	> svg {
		@apply opacity-70 transition-opacity duration-200 will-change-auto;
	}

	&:hover > svg {
		@apply opacity-100;
	}
}

.loader {
	@apply absolute left-3 top-1/2 flex -translate-y-1/2 animate-show-effect items-center gap-3 opacity-0;

	> div {
		@apply h-4 w-4 !rounded-full duration-700;

		&:nth-of-type(2) {
			@apply delay-150;
		}

		&:nth-of-type(3) {
			@apply delay-300;
		}
	}
}
