.items-wrapper {
	@apply flex flex-col gap-4 mb-16 pr-3 max-h-[29rem] overflow-y-scroll;
}

.not-found {
	@apply flex items-center gap-5 rounded-md w-fit mt-5 opacity-0 animate-show-effect self-center;

	> p {
		@apply leading-7;
	}
}

.pagination-wrapper {
	@apply absolute -bottom-6 pb-7 w-full bg-background flex justify-center opacity-0 animate-show-effect;
}

.item {
	@apply relative overflow-hidden flex items-center justify-between bg-primary rounded-md px-3 py-2 opacity-0 animate-show-effect will-change-auto transition-all;

	&[data-selected="true"] {
		@apply ring-1 ring-black ring-inset;

		> div[role="none"] {
			@apply opacity-100;
		}
	}

	&[data-select-mode="true"] {
		@apply cursor-pointer !important;
	}
}

.item-content-wrapper {
	> div {
		@apply flex items-center gap-1;

		> p {
			@apply text-muted text-sm;
		}
		> span {
			@apply flex items-center text-sm gap-1;
		}
	}

	> p {
		@apply text-muted ml-1;
	}
}

.item-overlay {
	@apply absolute left-0 w-full h-full bg-muted/30 pointer-events-none opacity-0 transition-opacity will-change-auto;
}

.loader {
	@apply w-full h-28 rounded-md;
}
