.items-wrapper {
	@apply mb-16 flex max-h-[29rem] flex-col gap-4 overflow-y-scroll pr-3;
}

.not-found {
	@apply mt-5 flex w-fit animate-show-effect items-center gap-5 self-center rounded-md opacity-0;

	> p {
		@apply leading-7;
	}
}

.pagination-wrapper {
	@apply absolute -bottom-6 flex w-full animate-show-effect justify-center bg-background pb-7 opacity-0;
}

.item {
	@apply relative flex animate-show-effect items-center justify-between overflow-hidden rounded-md bg-primary px-3 py-2 opacity-0 transition-all will-change-auto;

	&[data-selected="true"] {
		@apply ring-1 ring-inset ring-black;

		> div[role="none"] {
			@apply opacity-100;
		}
	}

	&[data-select-mode="true"] {
		@apply cursor-pointer !important;
	}
}

.item-content-wrapper {
	> div {
		@apply flex items-center gap-1;

		> p {
			@apply text-sm text-muted;
		}
		> span {
			@apply flex items-center gap-1 text-sm;
		}
	}

	> p {
		@apply ml-1 text-muted;
	}
}

.item-overlay {
	@apply pointer-events-none absolute left-0 h-full w-full bg-muted/30 opacity-0 transition-opacity will-change-auto;
}

.loader {
	@apply h-28 w-full rounded-md;
}
