.wrapper {
	@apply flex items-center justify-between bg-primary rounded-md w-full px-3 py-4 mb-8;
}

.filters-wrapper {
	@apply flex flex-wrap items-center gap-5;
}

.actions-wrapper {
	@apply flex items-center gap-5;

	> button {
		@apply px-2 py-1.5;
	}

	> div {
		@apply flex items-center gap-2;

		> button {
			@apply p-2;

			> svg {
				@apply transition-colors will-change-auto;
			}

			&:hover > svg {
				@apply text-muted;
			}
		}
	}
}

.checkbox {
	@apply size-6 !important;
}

.reset {
	> svg {
		@apply transition-all will-change-auto duration-500;
	}

	&:hover > svg {
		@apply rotate-[360deg] text-muted;
	}
}

.dm-trigger {
	@apply px-3 py-2 text-sm font-medium;

	> svg {
		@apply mr-2;
	}
}

.dm-content {
	@apply flex flex-col;
}

.dm-item {
	@apply flex items-center justify-between gap-3 cursor-pointer transition-colors will-change-auto;

	> div {
		@apply flex items-center gap-2;
	}

	&:hover {
		@apply text-muted;
	}
}

.dm-checkbox-item {
	@apply my-1.5 px-2;
}
