.wrapper {
	@apply transition-colors will-change-auto mb-4 rounded-2xl;

	&[data-status="false"] {
		&:hover {
			@apply bg-muted/10;
		}
	}

	&[data-status="true"] {
		animation: account-sidebar-active-tab-enter 300ms linear forwards;

		&:hover {
			@apply bg-secondary/80;
		}
	}
}

.link {
	@apply flex items-center gap-2 py-3 px-4 whitespace-nowrap;
}

@keyframes account-sidebar-active-tab-enter {
	to {
		@apply bg-secondary;
	}
}
