.wrapper {
	@apply mb-4 rounded-2xl transition-colors will-change-auto;

	&[data-status="false"] {
		&:hover {
			@apply bg-muted/10;
		}
	}

	&[data-status="true"] {
		animation: account-sidebar-active-tab-enter 300ms linear forwards;

		&:hover {
			@apply bg-secondary/80;
		}
	}
}

.link {
	@apply flex items-center gap-2 whitespace-nowrap px-4 py-3;
}

@keyframes account-sidebar-active-tab-enter {
	to {
		@apply bg-secondary;
	}
}
