.wrapper::after,
.wrapper::before,
.border-line::after,
.border-line::before {
	@apply h-[24rem] w-[38rem];
}

.wrapper {
	@apply h-[24rem] w-[38rem];
}

.title-wrapper {
	@apply mb-4 flex items-center justify-between;

	> div > p {
		@apply mb-8 ml-1 text-sm leading-5 text-muted;
	}
}

.form-input-wrapper {
	@apply mb-5 flex justify-center !important;
}

.form-input-error {
	@apply -bottom-1;
}

.form-input-slot {
	@apply h-14 w-12 !text-lg !important;
}

.checkbox-wrapper {
	@apply mb-6 ml-2;
}

.actions-wrapper {
	@apply flex items-center justify-between;

	> button {
		@apply px-2 py-1.5;

		&:last-of-type {
			@apply border-2 border-muted;
		}
	}
}
