.wrapper::after,
.wrapper::before,
.border-line::after,
.border-line::before {
	@apply w-[38rem] h-[24rem];
}

.wrapper {
	@apply w-[38rem] h-[24rem];
}

.title-wrapper {
	@apply flex items-center justify-between mb-4;

	> div > p {
		@apply mb-8 ml-1 text-muted text-sm leading-5;
	}
}

.form-input-wrapper {
	@apply flex justify-center mb-5 !important;
}

.form-input-error {
	@apply -bottom-1;
}

.form-input-slot {
	@apply h-14 w-12 !text-lg !important;
}

.checkbox-wrapper {
	@apply mb-6 ml-2;
}

.actions-wrapper {
	@apply flex justify-between items-center;

	> button {
		@apply py-1.5 px-2;

		&:last-of-type {
			@apply border-2 border-muted;
		}
	}
}
