.main {
	@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center gap-4;
}

.content-wrapper {
	> h2 {
		@apply text-3xl;
	}

	> p {
		@apply text-gray-500 ml-1 mb-6;
	}
}

.actions-wrapper {
	@apply flex items-center gap-5;

	> button:last-of-type {
		@apply border-gray-500 text-gray-500;

		&:hover {
			@apply border-black text-black;
		}
	}
}

.image-wrapper {
	@apply relative;
}

.bee {
	@apply absolute origin-bottom-right;
}

.bee-0 {
	@apply left-16 top-14;
	animation: bee-flying-1 1.5s linear infinite;
}
.bee-1 {
	@apply right-12 -top-10 -rotate-90;
	animation: bee-flying-1 1.5s linear infinite;
}
.bee-2 {
	@apply left-12 -top-10 -rotate-[290deg];
	animation: bee-flying-2 1.5s linear infinite;
}
.bee-3 {
	@apply left-12 bottom-20 rotate-180;
	animation: bee-flying-2 1.5s linear infinite;
}
.bee-4 {
	@apply -left-16 bottom-20 -rotate-45;
	animation: bee-flying-1 1.5s linear infinite;
}
.bee-5 {
	@apply -left-12 top-20 rotate-180;
	animation: bee-flying-2 1.5s linear infinite;
}
.bee-6 {
	@apply right-4 bottom-28 -rotate-[270deg];
	animation: bee-flying-2 1.5s linear infinite;
}
.bee-7 {
	@apply right-32 bottom-0;
	animation: bee-flying-1 1.5s linear infinite;
}

@keyframes bee-flying-1 {
	from {
		@apply rotate-0;
	}
	to {
		@apply rotate-[360deg];
	}
}

@keyframes bee-flying-2 {
	from {
		@apply rotate-0;
	}
	to {
		@apply -rotate-[360deg];
	}
}
