.container {
	@apply absolute left-1/2 top-1/2 flex -translate-x-1/2 -translate-y-1/2 items-center gap-4;
}

.content-wrapper {
	> h2 {
		@apply text-3xl;
	}

	> p {
		@apply mb-6 ml-1 text-gray-500;
	}
}

.actions-wrapper {
	@apply flex items-center gap-5;

	> button:last-of-type {
		@apply border-gray-500 text-gray-500;

		&:hover {
			@apply border-black text-black;
		}
	}
}
