.container {
	@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center gap-4;
}

.content-wrapper {
	> h2 {
		@apply text-3xl;
	}

	> p {
		@apply text-gray-500 ml-1 mb-6;
	}
}

.actions-wrapper {
	@apply flex items-center gap-5;

	> button:last-of-type {
		@apply border-gray-500 text-gray-500;

		&:hover {
			@apply border-black text-black;
		}
	}
}
