.section {
	@apply translate-x-0;

	&[data-status="false"] {
		animation: animate-show-out 300ms linear forwards;
	}
}

.footer {
	@apply flex w-full items-center justify-between px-2;

	> button {
		@apply border-2 border-muted px-2 py-1.5;
	}
}

@keyframes animate-show-in {
	to {
		@apply translate-x-0;
	}
}

@keyframes animate-show-out {
	to {
		@apply -translate-x-[150%];
	}
}
