.section {
	animation: animate-show-in 300ms linear forwards;

	&[data-status="false"] {
		animation: animate-show-out 300ms linear forwards;
	}
}

.footer {
	@apply flex w-full items-center justify-between px-4;
}

.recaptcha {
	@apply relative mb-10 ml-4;

	> p {
		@apply absolute left-1 text-sm text-red-500;
	}
}

.submit-btn {
	@apply min-w-28 border-2 border-muted px-2 py-1.5;
}

.return-btn {
	@apply px-2 py-1.5;
}

@keyframes animate-show-in {
	from {
		@apply translate-x-[150%];
	}
	to {
		@apply translate-x-0;
	}
}

@keyframes animate-show-out {
	to {
		@apply translate-x-[150%];
	}
}
