.section {
	animation: animate-show-in 300ms linear forwards;

	&[data-status="false"] {
		animation: animate-show-out 300ms linear forwards;
	}
}

.footer {
	@apply flex w-full justify-between items-center px-4;
}

.recaptcha {
	@apply relative mb-10 ml-4;

	> p {
		@apply absolute left-1 text-sm text-red-500;
	}
}

.submit-btn {
	@apply py-1.5 px-2 border-2 border-muted min-w-28;
}

.return-btn {
	@apply py-1.5 px-2;
}

@keyframes animate-show-in {
	from {
		@apply translate-x-[150%];
	}
	to {
		@apply translate-x-0;
	}
}

@keyframes animate-show-out {
	to {
		@apply translate-x-[150%];
	}
}
