.wrapper {
	@apply w-[28.125rem] h-[29.375rem];

	&::after,
	&::before,
	> .border-line::after,
	> .border-line::before {
		@apply w-[28.125rem] h-[29.375rem];
	}
}

.wrapper-higher {
	@apply w-[29.375rem] h-[40rem];

	&::after,
	&::before,
	> .border-line::after,
	> .border-line::before {
		@apply w-[29.375rem] h-[40rem];
	}
}
