.wrapper {
	@apply h-[29.375rem] w-[28.125rem];

	&::after,
	&::before,
	> .border-line::after,
	> .border-line::before {
		@apply h-[29.375rem] w-[28.125rem];
	}
}

.wrapper-higher {
	@apply h-[40rem] w-[29.375rem];

	&::after,
	&::before,
	> .border-line::after,
	> .border-line::before {
		@apply h-[40rem] w-[29.375rem];
	}
}
