.wrapper::after,
.wrapper::before,
.border-line::after,
.border-line::before {
	@apply h-[37rem] w-[28.125rem];
}

.wrapper {
	@apply h-[37rem] w-[28.125rem];
}

.help-wrapper {
	@apply mb-5 flex w-full items-center justify-between px-2;

	> a:first-of-type {
		@apply text-muted transition-colors will-change-auto;

		&:hover {
			@apply text-black;
		}
	}
}

.recaptcha {
	@apply mb-6;
}

.footer-actions {
	@apply mb-6 flex items-center gap-4;

	> button {
		@apply border-2 border-muted px-2 py-1.5;
	}

	> p {
		@apply leading-5 text-red-500;
	}
}

.footer-socials {
	@apply flex flex-col items-center;

	> p {
		@apply relative mb-3 block w-full text-center text-muted;

		&::before,
		&::after {
			@apply absolute top-1/2 block h-px w-1/5 bg-muted content-[""];
		}

		&[lang="ru"] {
			&::before,
			&::after {
				@apply w-1/12 !important;
			}
		}

		&::before {
			@apply right-0;
		}

		&::after {
			@apply left-0;
		}
	}
}

.socials-wrapper {
	@apply flex items-center gap-6;

	> a {
		@apply relative flex h-11 w-11 overflow-hidden rounded-full bg-white/80;

		> img {
			@apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
		}
	}
}

.socials-vk {
	@apply relative;
}

.socials-yandex {
	@apply relative;
}

.socials-github {
	@apply relative;
}

.socials-google {
	@apply relative;
}
