.wrapper::after,
.wrapper::before,
.border-line::after,
.border-line::before {
	@apply w-[28.125rem] h-[37rem];
}

.wrapper {
	@apply w-[28.125rem] h-[37rem];
}

.help-wrapper {
	@apply flex w-full items-center justify-between mb-5 px-2;

	> a:first-of-type {
		@apply text-muted transition-colors will-change-auto;

		&:hover {
			@apply text-black;
		}
	}
}

.recaptcha {
	@apply mb-6;
}

.footer-actions {
	@apply flex items-center gap-4 mb-6;

	> button {
		@apply py-1.5 px-2 border-2 border-muted;
	}

	> p {
		@apply text-red-500 leading-5;
	}
}

.footer-socials {
	@apply flex items-center flex-col;

	> p {
		@apply relative block w-full text-center text-muted mb-3;

		&::before,
		&::after {
			@apply content-[""] absolute block top-1/2 w-1/5 h-px bg-muted;
		}

		&[lang="ru"] {
			&::before,
			&::after {
				@apply w-1/12 !important;
			}
		}

		&::before {
			@apply right-0;
		}

		&::after {
			@apply left-0;
		}
	}
}

.socials-wrapper {
	@apply flex items-center gap-6;

	> a {
		@apply relative rounded-full bg-white/80 w-11 h-11 flex overflow-hidden;

		> img {
			@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
		}
	}
}

.socials-vk {
	@apply relative;
}

.socials-yandex {
	@apply relative;
}

.socials-github {
	@apply relative;
}

.socials-google {
	@apply relative;
}
