.content-wrapper {
	@apply relative mx-10 my-6 w-full;
}

.content-desc {
	@apply mb-4 ml-1 text-muted;
}

.connections-item {
	@apply grid w-full grid-cols-[auto_1fr_min-content] items-center rounded-md bg-primary px-4 py-5;

	> div {
		@apply ml-4;

		> p {
			@apply text-sm text-muted;
		}
	}

	> button {
		@apply flex items-center gap-2 px-2 py-1.5;
	}
}
