.content-wrapper {
	@apply relative w-full my-6 mx-10;
}

.content-desc {
	@apply ml-1 mb-4 text-muted;
}

.connections-item {
	@apply w-full bg-primary grid grid-cols-[auto_1fr_min-content] items-center rounded-md px-4 py-5;

	> div {
		@apply ml-4;

		> p {
			@apply text-sm text-muted;
		}
	}

	> button {
		@apply flex items-center gap-2 py-1.5 px-2;
	}
}
