.content-wrapper {
	@apply tw-relative tw-w-full tw-my-6 tw-mx-10;
}

.content-desc {
	@apply tw-ml-1 tw-mb-4 tw-text-muted;
}

.connections-item {
	@apply tw-w-full tw-bg-primary tw-grid tw-grid-cols-[auto_1fr_min-content] tw-items-center tw-rounded-md tw-px-4 tw-py-5;

	> div {
		@apply tw-ml-4;

		> p {
			@apply tw-text-sm tw-text-muted;
		}
	}

	> button {
		@apply tw-flex tw-items-center tw-gap-2 tw-py-1.5 tw-px-2;
	}
}
