.list {
	@apply ml-5 inline-flex w-full list-none items-center gap-5;
}

.list-item {
	@apply relative whitespace-nowrap print:hidden;

	> a {
		@apply transition-colors;
	}

	&:hover {
		> a {
			@apply text-muted;
		}

		&::before {
			@apply w-full;
		}
	}

	&::before {
		@apply absolute bottom-0.5 h-0.5 w-0 bg-muted transition-[width] content-[""];
	}
}
