.list {
	@apply inline-flex items-center gap-5 w-full list-none ml-5;
}

.list-item {
	@apply relative whitespace-nowrap;

	> a {
		@apply transition-colors;
	}

	&:hover {
		> a {
			@apply text-muted;
		}

		&::before {
			@apply w-full;
		}
	}

	&::before {
		@apply content-[""] h-0.5 w-0 bg-muted absolute bottom-0.5 transition-[width];
	}
}
