.block {
	@apply flex flex-row-reverse items-center w-full relative;
}

.search-button {
	@apply px-3 gap-1.5 h-fit py-0.5 rounded-lg;

	> kbd {
		@apply text-sm transition-all;
	}

	> svg {
		@apply transition-transform;
	}

	&:hover {
		@apply bg-secondary;

		> kbd {
			@apply opacity-0;
		}

		> svg {
			@apply rotate-[360deg] translate-x-6;
		}
	}
}

.search-input {
	@apply overflow-hidden bg-background/85 w-0 h-9 absolute transition-all pointer-events-none rounded-xl flex items-center px-0;

	> input {
		@apply ml-4 bg-transparent h-fit p-0;
	}
}

.close-btn {
	@apply text-sm ml-1 py-0.5 px-2;
}
