.block {
	@apply relative flex w-full flex-row-reverse items-center;
}

.search-button {
	@apply h-fit gap-1.5 rounded-lg px-3 py-0.5;

	> kbd {
		@apply text-sm transition-all;
	}

	> svg {
		@apply transition-transform;
	}

	&:hover {
		@apply bg-secondary;

		> kbd {
			@apply opacity-0;
		}

		> svg {
			@apply translate-x-6 rotate-[360deg];
		}
	}
}

.search-input {
	@apply pointer-events-none absolute flex h-9 w-0 items-center overflow-hidden rounded-xl bg-background/85 px-0 transition-all;

	> input {
		@apply ml-4 h-fit bg-transparent p-0;
	}
}

.close-btn {
	@apply ml-1 px-2 py-0.5 text-sm;
}
