.order-button {
	@apply w-fit py-0.5 px-2 gap-1;

	> svg:last-of-type {
		@apply absolute top-1/2 -translate-y-1/2 right-1.5 pointer-events-none opacity-0 transition-all -translate-x-1;
	}

	&:hover > p:last-of-type {
		@apply opacity-0;
	}

	&:hover > svg:last-of-type {
		@apply opacity-100 translate-x-0;
	}
}

.total-count {
	@apply transition-opacity;
}
