.order-button {
	@apply w-fit gap-1 px-2 py-0.5;

	> svg:last-of-type {
		@apply pointer-events-none absolute right-1.5 top-1/2 -translate-x-1 -translate-y-1/2 opacity-0 transition-all;
	}

	&:hover > p:last-of-type {
		@apply opacity-0;
	}

	&:hover > svg:last-of-type {
		@apply translate-x-0 opacity-100;
	}
}

.total-count {
	@apply transition-opacity;
}
