.auth-btn {
	@apply p-1;
}

.change-lang-btn {
	@apply p-1 bg-secondary mr-5 hover:bg-primary;
}

.separator {
	@apply bg-black h-7 mx-4 rotate-45;
}

.profile-block-wrapper {
	@apply flex items-center gap-3;
}

.profile-avatar-wrapper {
	@apply mr-4 opacity-0 animate-show-effect;
}

.profile-block-nickname {
	@apply flex flex-col leading-4 mr-1;
}

.profile-role {
	@apply text-sm text-muted;
}
