.auth-btn {
	@apply p-1;
}

.change-lang-btn {
	@apply mr-5 bg-secondary p-1 hover:bg-primary;
}

.separator {
	@apply mx-4 h-7 rotate-45 bg-black;
}

.profile-block-wrapper {
	@apply flex items-center gap-3;
}

.profile-avatar-wrapper {
	@apply mr-4 !h-12 !w-12 animate-show-effect opacity-0;
}

.profile-block-nickname {
	@apply mr-1 flex flex-col leading-4;
}

.profile-role {
	@apply text-sm text-muted;
}
