.main-wrapper {
	@apply fixed inset-x-5 bottom-5 z-[9999] mx-auto flex max-w-screen-lg flex-wrap items-center justify-center gap-4 rounded-lg bg-primary p-5 text-center drop-shadow-2xl transition-opacity md:flex-nowrap md:justify-between md:text-left;
}

.content-wrapper {
	@apply flex items-center gap-5;
}

.link {
	@apply whitespace-nowrap transition-all hover:underline;
}

.agree-btn {
	@apply px-5 py-2;
}
