.main-wrapper {
	@apply max-w-screen-lg mx-auto fixed z-[9999] bg-primary inset-x-5 p-5 bottom-5 rounded-lg drop-shadow-2xl flex gap-4 flex-wrap md:flex-nowrap text-center md:text-left items-center justify-center md:justify-between transition-opacity;
}

.content-wrapper {
	@apply flex items-center gap-5;
}

.link {
	@apply whitespace-nowrap hover:underline transition-all;
}

.agree-btn {
	@apply px-5 py-2;
}
