.button-ui {
	@apply relative inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-all will-change-auto;

	&:disabled {
		@apply cursor-not-allowed opacity-50;
	}

	&[data-loading="true"] {
		@apply cursor-wait;
	}

	& svg {
		@apply pointer-events-none select-none;
	}
}

.button-ui-default {
	@apply bg-primary text-primary-foreground shadow;

	&:hover {
		@apply bg-primary/90;
	}
}

.button-ui-outline {
	@apply gap-1 border border-black px-2 py-1.5 text-black;

	&:hover {
		@apply bg-secondary/40;
	}
}

.button-ui-secondary {
	@apply bg-secondary text-secondary-foreground shadow-sm;

	&:hover {
		@apply bg-secondary/80;
	}
}

.button-ui-ghost {
	@apply hover:bg-accent hover:text-accent-foreground;
}

.button-ui-link {
	@apply text-black underline-offset-4;

	&:hover {
		@apply underline;
	}
}

.button-ui-loader {
	@apply h-5 w-5 animate-spin;
}

.button-ui-destructive {
	@apply bg-red-600 text-white;

	&:hover {
		@apply bg-red-500;
	}
}

.button-ui-destructive-outline {
	@apply border border-red-600 bg-transparent;

	&:hover {
		@apply bg-secondary/40;
	}
}
