.vc {
	@apply bg-secondary !important;
}

.vc-month,
.vc-year {
	@apply text-black transition-colors will-change-auto !important;

	&:hover {
		@apply text-muted !important;
	}
}

.vc-arrow {
	@apply rounded-md bg-muted-darker !important;
}

.vc-months__month,
.vc-years__year {
	@apply border-2 border-muted bg-primary text-black transition-all will-change-auto !important;

	&:hover {
		@apply border-transparent !important;
	}

	&:disabled {
		@apply opacity-60 !important;
	}
}

.vc-date {
	&[data-vc-date-weekend=""] {
		.vc-date__btn {
			@apply font-medium text-red-500 !important;
		}
	}

	&[data-vc-date-disabled=""] {
		@apply opacity-60 !important;
	}

	&[data-vc-date-today=""] {
		.vc-date__btn {
			@apply bg-primary/60 font-semibold !important;
		}
	}

	&[data-vc-date-selected=""] {
		.vc-date__btn {
			@apply bg-white/70 !important;
		}
	}

	.vc-date__btn {
		@apply bg-secondary text-black transition-all will-change-auto !important;

		&:hover {
			@apply bg-black/10 !important;
		}
	}
}

.vc-week__day {
	@apply cursor-default text-black !important;

	&[data-vc-week-day-off=""] {
		@apply text-red-500 !important;
	}
}
