.checkbox-main-wrapper {
	@apply relative;
}

.checkbox-wrapper {
	@apply flex items-center gap-2;
}

.checkbox-input {
	@apply sr-only;

	&:checked + .checkbox-wrapper > .checkbox-decor-input > svg {
		@apply scale-100 opacity-100;
	}
}

.checkbox-decor-input {
	@apply relative h-7 w-7 cursor-pointer rounded-lg bg-secondary transition-opacity will-change-auto;

	&[data-disabled="true"] {
		@apply cursor-not-allowed opacity-60;
	}

	> svg {
		@apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 scale-95 opacity-0 transition-all will-change-auto;
	}
}

.checkbox-label {
	@apply cursor-pointer select-none text-sm text-black;
}
