.checkbox-main-wrapper {
	@apply relative;
}

.checkbox-wrapper {
	@apply flex items-center gap-2;
}

.checkbox-input {
	@apply sr-only;

	&:checked + .checkbox-wrapper > .checkbox-decor-input > svg {
		@apply opacity-100 scale-100;
	}
}

.checkbox-decor-input {
	@apply relative h-7 w-7 bg-secondary rounded-lg cursor-pointer transition-opacity will-change-auto;

	&[data-disabled="true"] {
		@apply opacity-60 cursor-not-allowed;
	}

	> svg {
		@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 scale-95 transition-all will-change-auto;
	}
}

.checkbox-label {
	@apply text-sm text-black cursor-pointer select-none;
}
