.dialog-overlay-ui {
	@apply fixed inset-0 z-50 bg-black/80;
}

.dialog-content-ui {
	@apply fixed left-1/2 top-1/2 z-50 grid w-full max-w-lg -translate-x-1/2 -translate-y-1/2 gap-4 border border-muted bg-primary p-6 shadow-lg duration-200 sm:rounded-lg;
}

.dialog-close-btn-ui {
	@apply absolute right-4 top-4 rounded-sm opacity-70 ring-offset-background transition-opacity;

	&:hover {
		@apply opacity-100;
	}

	&:disabled {
		@apply pointer-events-none;
	}
}

.dialog-header-ui {
	@apply flex flex-col space-y-1.5 text-center sm:text-left;
}

.dialog-footer-ui {
	@apply flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2;
}

.dialog-title-ui {
	@apply text-lg font-semibold leading-none tracking-tight;
}

.dialog-description-ui {
	@apply text-sm text-muted;
}
