.dropdown-menu-content-ui {
	@apply z-50 max-h-[var(--radix-dropdown-menu-content-available-height)] min-w-[8rem] overflow-y-auto overflow-x-hidden rounded-md border border-muted bg-popover p-1 text-popover-foreground shadow-md;

	&[data-side="bottom"] {
		@apply slide-in-from-top-2;
	}

	&[data-side="left"] {
		@apply slide-in-from-right-2;
	}

	&[data-side="top"] {
		@apply slide-in-from-bottom-2;
	}

	&[data-side="right"] {
		@apply slide-in-from-left-2;
	}
}

.dropdown-menu-item-ui {
	@apply flex cursor-pointer select-none items-center gap-2 rounded-sm px-2 py-1.5 text-sm outline-none;

	&[data-disabled] {
		@apply pointer-events-none opacity-50;
	}

	& > svg {
		@apply size-4 shrink-0;
	}
}

.dropdown-menu-shortcut-ui {
	@apply ml-auto text-xs tracking-widest opacity-60;
}

.dropdown-menu-label-ui {
	@apply px-2 py-1.5 text-sm font-semibold;
}
