.input-ui {
	@apply flex w-full rounded-md bg-background/60 px-3 py-2 text-sm transition-all;

	&[type="file"] {
		@apply border-0 bg-transparent text-sm font-medium;
	}

	&:disabled {
		@apply cursor-not-allowed opacity-50;
	}

	&:focus-visible {
		@apply outline-none;
	}

	&::placeholder {
		@apply text-muted;
	}
}
