.input-otp-ui {
	@apply relative;

	&:disabled {
		@apply cursor-not-allowed;
	}
}

.input-otp-ui-container {
	@apply flex items-center gap-2;

	&:has(:disabled) {
		@apply opacity-50;
	}
}

.input-otp-group-ui {
	@apply flex items-center;
}

.input-otp-slot-ui {
	@apply relative flex h-9 w-9 items-center justify-center border-y border-r border-muted bg-secondary text-sm shadow-sm transition-all;

	&:first-child {
		@apply rounded-l-md border-l;
	}

	&:last-child {
		@apply rounded-r-md;
	}
}

.input-otp-slot-ui-active {
	@apply z-10 ring-1 ring-muted-darker;
}

.input-otp-slot-caret-ui {
	@apply h-5 w-px animate-caret-blink bg-muted;
}

.input-otp-slot-caret-container-ui {
	@apply pointer-events-none absolute inset-0 flex items-center justify-center;
}
