.radio-group-ui {
	@apply grid gap-2;
}

.radio-group-item-ui {
	@apply relative aspect-square h-4 w-4 rounded-full border border-black bg-secondary shadow;

	&:focus {
		@apply outline-none;
	}

	&:disabled {
		@apply cursor-not-allowed opacity-50;
	}
}

.radio-group-item-indicator-ui {
	@apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 animate-show-effect opacity-0 duration-200;

	> svg {
		@apply h-3 w-3 fill-black;
	}
}
