.sheet-overlay-ui {
	@apply fixed inset-0 z-50;
}

.sheet-content-ui {
	@apply fixed z-50 gap-4 p-6 transition ease-in-out;
}

.sheet-content-ui-side-top {
	@apply inset-x-0 top-0 border-b;

	&[data-state="closed"] {
		@apply slide-out-to-top;
	}

	&[data-state="open"] {
		@apply slide-in-from-top;
	}
}

.sheet-content-ui-side-bottom {
	@apply inset-x-0 bottom-0 border-t;

	&[data-state="closed"] {
		@apply slide-out-to-bottom;
	}

	&[data-state="open"] {
		@apply slide-in-from-bottom;
	}
}

.sheet-content-ui-side-left {
	@apply inset-y-0 left-0 h-full w-3/4 border-r sm:max-w-sm;

	&[data-state="closed"] {
		@apply slide-out-to-left;
	}

	&[data-state="open"] {
		@apply slide-in-from-left;
	}
}

.sheet-content-ui-side-right {
	@apply inset-y-0 right-0 h-full w-3/4 border-l sm:max-w-sm;

	&[data-state="closed"] {
		@apply slide-out-to-right;
	}

	&[data-state="open"] {
		@apply slide-in-from-right;
	}
}

.sheet-close-btn-ui {
	@apply absolute right-4 top-4 bg-none text-muted transition-all;

	&:hover {
		@apply text-black rotate-180;
	}
}

.sheet-title-ui {
	@apply text-lg font-semibold text-black;
}
