.switch-ui {
	@apply relative inline-flex h-6 w-12 shrink-0 cursor-pointer items-center rounded-full border-[3px] border-transparent shadow-md transition-colors;

	&[data-state="checked"] {
		@apply bg-primary;

		> svg {
			@apply left-0;
		}
	}

	&[data-state="unchecked"] {
		@apply bg-secondary;

		> svg {
			@apply right-0;
		}
	}

	&:disabled {
		@apply cursor-not-allowed opacity-50;
	}

	&:focus-visible {
		@apply outline-none ring-2 ring-black ring-offset-2 ring-offset-background;
	}
}

.switch-loader-ui {
	@apply absolute animate-spin;
}

.switch-thumb-ui {
	@apply pointer-events-none block h-5 w-5 rounded-full bg-background shadow-lg ring-0 transition-transform;

	&[data-state="checked"] {
		@apply translate-x-6;
	}

	&[data-state="unchecked"] {
		@apply translate-x-0;
	}
}
