.button {
	@apply relative mb-2 flex gap-4 overflow-hidden rounded-xl border border-black bg-secondary px-1.5 py-1;

	> svg {
		@apply z-20;
	}
}

.indicator {
	@apply absolute -left-1 right-0 top-0 z-10 h-full w-1/2 rounded-xl bg-primary transition-transform;
}
