.button {
	@apply relative flex bg-secondary py-1 px-1.5 gap-4 rounded-xl border border-black overflow-hidden mb-2;

	> svg {
		@apply z-20;
	}
}

.indicator {
	@apply absolute -left-1 right-0 top-0 bg-primary h-full w-1/2 rounded-xl z-10 transition-transform;
}
