.logout-btn-dmt {
	@apply text-red-600 font-medium flex gap-1 items-center transition-transform -mt-2;
}

.logout-btn-dmc {
	@apply mx-2;
}

.logout-btn-dmi {
	@apply justify-between cursor-default;

	> p {
		@apply cursor-pointer transition-colors hover:text-muted;
	}

	> svg {
		@apply cursor-pointer;
	}

	> div {
		@apply bg-secondary text-secondary-foreground text-xs absolute -right-40 max-w-44 p-1 rounded-sm opacity-0 transition-opacity pointer-events-none;
	}
}
