.logout-btn-dmt {
	@apply -mt-2 flex items-center gap-1 font-medium text-red-600 transition-transform;
}

.logout-btn-dmc {
	@apply mx-2;
}

.logout-btn-dmi {
	@apply cursor-default justify-between;

	> p {
		@apply cursor-pointer transition-colors hover:text-muted;
	}

	> svg {
		@apply cursor-pointer;
	}

	> div {
		@apply pointer-events-none absolute -right-40 max-w-44 rounded-sm bg-secondary p-1 text-xs text-secondary-foreground opacity-0 transition-opacity;
	}
}
