.wrapper::after,
.wrapper::before,
.border-line::after,
.border-line::before {
	@apply h-[18rem] w-[33rem];
}

.wrapper {
	@apply h-[18rem] w-[33rem];
}

.input-wrapper {
	@apply mb-10 max-w-96;
}

.title-wrapper {
	@apply mb-1 flex items-center justify-between;

	> div > p {
		@apply mb-8 ml-1 text-sm leading-5 text-muted;
	}
}

.actions-wrapper {
	@apply mb-5 flex items-center justify-between;

	> button {
		@apply border-2 border-muted px-2 py-1.5;
	}
}
