.wrapper::after,
.wrapper::before,
.border-line::after,
.border-line::before {
	@apply w-[33rem] h-[18rem];
}

.wrapper {
	@apply w-[33rem] h-[18rem];
}

.input-wrapper {
	@apply mb-10 max-w-96;
}

.title-wrapper {
	@apply flex items-center justify-between mb-1;

	> div > p {
		@apply mb-8 ml-1 text-muted text-sm leading-5;
	}
}

.actions-wrapper {
	@apply flex items-center justify-between mb-5;

	> button {
		@apply py-1.5 px-2;
	}

	> button:last-of-type {
		@apply border-2 border-muted;
	}
}

.alert {
	@apply mb-2;
}
