.email-wrapper {
	@apply relative mb-5 w-full rounded-lg bg-primary p-3;

	> form {
		@apply mb-4 mt-2 flex flex-col px-1;

		> div:nth-of-type(1) {
			@apply flex items-center justify-between;

			> div {
				@apply inline-flex items-center gap-3;

				> h4 {
					@apply font-medium;
				}

				> div {
					@apply h-6 w-28 rounded-full;
				}

				> span {
					@apply rounded-full px-1.5 py-0.5 text-sm ring-1 ring-inset;

					&[data-verified="true"] {
						@apply bg-green-400 text-green-950 ring-green-700;
					}

					&[data-verified="false"] {
						@apply bg-red-400 text-red-950 ring-red-800;
					}
				}
			}

			> button {
				&:hover > svg {
					@apply rotate-180 text-muted;
				}

				> svg {
					@apply transition-all;
				}
			}
		}

		> div:nth-of-type(3) {
			> div:first-of-type {
				@apply absolute left-0;
			}

			> div:last-of-type {
				@apply mt-4 flex items-center justify-between;

				> button {
					@apply px-2 py-1.5;

					&:last-of-type {
						@apply border border-muted;
					}
				}
			}
		}
	}
}

.security-wrapper {
	@apply relative mb-5 flex w-full flex-col rounded-lg bg-primary px-4 pb-3 pt-5;

	> h4 {
		@apply mb-2 font-medium;
	}

	> div:nth-of-type(2n) {
		@apply my-4;
	}

	> div:nth-of-type(2n - 1) {
		@apply grid items-center gap-4 px-2 py-1;
		grid-template-columns: auto 1fr min-content;

		> div {
			&:first-of-type {
				@apply flex items-center justify-center rounded-full bg-secondary p-2;
			}

			> p:first-of-type {
				@apply font-medium;
			}

			> p:last-of-type {
				@apply ml-0.5 text-sm text-muted;
			}
		}

		> :last-child {
			@apply justify-self-end;
		}
	}
}

.actions-wrapper {
	@apply mb-5 w-full rounded-lg border-2 border-red-500 px-4 py-3;

	> h4 {
		@apply mb-1 font-medium;
	}

	> div:nth-of-type(2n) {
		@apply my-4 h-[2px] bg-red-500 !important;
	}

	> div:nth-of-type(2n - 1) {
		@apply flex items-center justify-between px-1;

		> div {
			> p:first-of-type {
				@apply font-medium;
			}

			> p:last-of-type {
				@apply text-sm text-muted;
			}
		}

		> button {
			@apply px-2 py-1.5;
		}
	}
}
