.email-wrapper {
	@apply relative w-full bg-primary rounded-lg p-3 mb-5;

	> form {
		@apply flex flex-col px-1 mt-2 mb-4;

		> div:nth-of-type(1) {
			@apply flex items-center justify-between;

			> div {
				@apply inline-flex items-center gap-3;

				> h4 {
					@apply font-medium;
				}

				> div {
					@apply w-28 h-6 rounded-full;
				}

				> span {
					@apply ring-1 ring-inset rounded-full px-1.5 py-0.5 text-sm;

					&[data-verified="true"] {
						@apply ring-green-700 bg-green-400 text-green-950;
					}

					&[data-verified="false"] {
						@apply ring-red-800 bg-red-400 text-red-950;
					}
				}
			}

			> button {
				&:hover > svg {
					@apply rotate-180 text-muted;
				}

				> svg {
					@apply transition-all;
				}
			}
		}

		> div:nth-of-type(3) {
			> div:first-of-type {
				@apply absolute left-0;
			}

			> div:last-of-type {
				@apply flex items-center justify-between mt-4;

				> button {
					@apply py-1.5 px-2;

					&:last-of-type {
						@apply border border-muted;
					}
				}
			}
		}
	}
}

.security-wrapper {
	@apply relative flex flex-col w-full bg-primary rounded-lg px-4 pt-5 pb-3 mb-5;

	> h4 {
		@apply font-medium mb-2;
	}

	> div:nth-of-type(2n) {
		@apply my-4;
	}

	> div:nth-of-type(2n - 1) {
		@apply grid items-center gap-4 px-2 py-1;
		grid-template-columns: auto 1fr min-content;

		> div {
			&:first-of-type {
				@apply flex items-center justify-center bg-secondary p-2 rounded-full;
			}

			> p:first-of-type {
				@apply font-medium;
			}

			> p:last-of-type {
				@apply text-muted text-sm ml-0.5;
			}
		}

		> :last-child {
			@apply justify-self-end;
		}
	}
}

.actions-wrapper {
	@apply w-full rounded-lg px-4 py-3 mb-5 border-2 border-red-500;

	> h4 {
		@apply font-medium mb-1;
	}

	> div:nth-of-type(2n) {
		@apply bg-red-500 h-[2px] my-4 !important;
	}

	> div:nth-of-type(2n - 1) {
		@apply flex items-center justify-between px-1;

		> div {
			> p:first-of-type {
				@apply font-medium;
			}

			> p:last-of-type {
				@apply text-muted text-sm;
			}
		}

		> button {
			@apply px-2 py-1.5;
		}
	}
}
