.wrapper {
	@apply flex flex-col gap-5;

	> div {
		@apply flex items-center gap-4 self-end;

		> button:first-of-type {
			@apply p-1;

			> svg {
				@apply transition-all;
			}

			&:hover > svg {
				@apply rotate-180 text-muted;
			}
		}

		> button:last-of-type {
			@apply py-1.5 px-2;
		}
	}
}

.loading-item {
	@apply w-full h-[72px];
}

.session-item {
	@apply flex items-center justify-between bg-secondary px-4 py-3 rounded-md border border-muted;

	> div {
		@apply flex items-center;

		&:first-of-type {
			@apply gap-4;

			> div:first-of-type {
				@apply bg-primary p-2.5 rounded-full;
			}

			> div:last-of-type {
				> p {
					@apply font-medium;
				}

				> div {
					@apply inline-flex items-center text-sm;
				}
			}
		}

		&:last-of-type {
			@apply gap-5;

			> button {
				@apply py-1.5 px-2;
			}
		}
	}
}

.current-indicator {
	@apply inline-flex items-center text-emerald-600;

	> span {
		@apply relative mr-2 flex size-2;

		> span:first-of-type {
			@apply absolute inline-flex h-full w-full animate-ping rounded-full bg-emerald-400 opacity-75;
		}

		> span:last-of-type {
			@apply relative inline-flex size-2 rounded-full bg-emerald-500;
		}
	}
}
