.switches-content-wrapper {
	@apply relative flex flex-col w-full bg-primary rounded-lg px-4 pt-3 pb-4 mb-5;

	> h4 {
		@apply font-medium mb-2;
	}

	> div:nth-of-type(2n) {
		@apply my-4;
	}
}

.permissions-wrapper {
	> div:last-of-type {
		div > span {
			@apply ring-1 ring-inset rounded-full px-1.5 py-0.5 text-sm ml-2;

			&[data-permission="granted"] {
				@apply ring-green-700 bg-green-400 text-green-950;
			}

			&[data-permission="default"] {
				@apply text-black bg-secondary ring-secondary;
			}

			&[data-permission="denied"] {
				@apply ring-red-800 bg-red-400 text-red-950;
			}
		}

		> button {
			@apply py-1.5 px-2;
		}
	}
}

.switch-wrapper {
	@apply grid items-center gap-4 px-2 py-1;
	grid-template-columns: auto 1fr min-content;

	> div {
		&:first-of-type {
			@apply flex items-center justify-center bg-secondary p-2 rounded-full;
		}

		> p:first-of-type {
			@apply font-medium;
		}

		> p:last-of-type {
			@apply text-muted text-sm ml-0.5;
		}
	}

	> :last-child {
		@apply justify-self-end;
	}
}

.destination-types-wrapper {
	> div:last-of-type {
		div > span {
			@apply ring-1 ring-inset rounded-full px-1.5 py-0.5 text-sm ml-2 inline;

			&[data-linked="true"] {
				@apply ring-green-700 bg-green-400 text-green-950;
			}

			&[data-linked="loading"] {
				@apply text-black bg-secondary ring-secondary;
			}

			&[data-linked="false"] {
				@apply ring-red-800 bg-red-400 text-red-950;
			}
		}
	}
}
