.switches-content-wrapper {
	@apply relative mb-5 flex w-full flex-col rounded-lg bg-primary px-4 pb-4 pt-3;

	> h4 {
		@apply mb-2 font-medium;
	}

	> div:nth-of-type(2n) {
		@apply my-4;
	}
}

.permissions-wrapper {
	> div:last-of-type {
		div > span {
			@apply ml-2 rounded-full px-1.5 py-0.5 text-sm ring-1 ring-inset;

			&[data-permission="granted"] {
				@apply bg-green-400 text-green-950 ring-green-700;
			}

			&[data-permission="default"] {
				@apply bg-secondary text-black ring-secondary;
			}

			&[data-permission="denied"] {
				@apply bg-red-400 text-red-950 ring-red-800;
			}
		}

		> button {
			@apply px-2 py-1.5;
		}
	}
}

.switch-wrapper {
	@apply grid items-center gap-4 px-2 py-1;
	grid-template-columns: auto 1fr min-content;

	> div {
		&:first-of-type {
			@apply flex items-center justify-center rounded-full bg-secondary p-2;
		}

		> p:first-of-type {
			@apply font-medium;
		}

		> p:last-of-type {
			@apply ml-0.5 text-sm text-muted;
		}
	}

	> :last-child {
		@apply justify-self-end;
	}
}

.destination-types-wrapper {
	> div:last-of-type {
		div > span {
			@apply ml-2 inline rounded-full px-1.5 py-0.5 text-sm ring-1 ring-inset;

			&[data-linked="true"] {
				@apply bg-green-400 text-green-950 ring-green-700;
			}

			&[data-linked="loading"] {
				@apply bg-secondary text-black ring-secondary;
			}

			&[data-linked="false"] {
				@apply bg-red-400 text-red-950 ring-red-800;
			}
		}
	}
}
