.avatar-wrapper {
	@apply my-4 ml-1 flex items-center gap-4;
}

.avatar-loading {
	@apply h-24 w-24 rounded-full !important;
}

.avatar-image {
	@apply h-24 w-24;

	> img {
		@apply animate-show-effect opacity-0;
	}
}

.avatar-actions {
	> div {
		@apply mb-2 flex items-center gap-3;

		> button:first-of-type {
			@apply rounded-2xl px-2.5 py-2 !important;
		}
	}

	> p {
		@apply ml-1 text-sm font-normal text-muted;
	}
}

.info-form-wrapper {
	@apply mb-4 mt-2 flex flex-col gap-6 px-1;

	> div:nth-of-type(2) {
		@apply mb-1;
	}

	> div:nth-of-type(3) {
		@apply flex items-center;

		> button {
			@apply p-1;

			> svg {
				@apply transition-transform will-change-auto;
			}

			&:hover > svg {
				@apply rotate-180;
			}
		}
	}

	> div:nth-of-type(4) {
		@apply flex items-center gap-3;
	}

	> div:nth-of-type(5) {
		@apply flex flex-col items-end;

		> button {
			@apply mr-6 mt-4 border border-muted px-2 py-1.5;
		}

		> div {
			@apply absolute left-0;
		}
	}
}

.appearance-form-wrapper {
	@apply mb-4 mt-2 flex flex-col gap-6 px-1;

	> div:nth-of-type(1),
	> div:nth-of-type(2),
	> div:nth-of-type(3) {
		@apply flex items-center gap-3;

		> button {
			@apply p-1;

			> svg {
				@apply transition-transform will-change-auto;
			}

			&:hover > svg {
				@apply rotate-180;
			}
		}
	}

	> div:nth-of-type(4) {
		@apply flex flex-col items-end;

		> button {
			@apply mr-6 mt-4 border border-muted px-2 py-1.5;
		}

		> div {
			@apply absolute left-0;
		}
	}
}

.telegram-connect-wrapper {
	@apply mb-4 mt-2 flex flex-col gap-5 px-1;

	> div:nth-of-type(1) {
		@apply flex flex-col gap-2;

		> p {
			@apply animate-show-effect opacity-0;

			> a,
			> span {
				@apply select-none font-medium underline;
			}

			&:first-of-type > span {
				@apply no-underline;
			}
		}
	}

	> div:nth-of-type(2) {
		@apply flex flex-col items-end;

		> div:first-of-type {
			@apply absolute left-0;
		}

		> div:last-of-type {
			@apply mr-6 mt-4 flex items-center gap-4;

			> a {
				@apply text-black transition-colors;

				&:hover {
					@apply text-muted;
				}
			}

			> button {
				@apply px-2 py-1.5;
			}
		}
	}
}
