.avatar-wrapper {
	@apply tw-flex tw-items-center tw-gap-4 tw-mt-4 tw-ml-1;
}

.avatar-loading {
	@apply tw-w-24 tw-h-24 tw-rounded-full !important;
}

.avatar-image {
	@apply tw-w-24 tw-h-24;

	> img {
		@apply tw-animate-show-effect tw-opacity-0;
	}
}

.avatar-actions {
	> div {
		@apply tw-flex tw-items-center tw-gap-3 tw-mb-2;

		> button:first-of-type {
			@apply tw-py-2 tw-px-2.5 tw-rounded-2xl !important;
		}
	}

	> p {
		@apply tw-text-muted tw-text-sm tw-font-normal tw-ml-1;
	}
}

.info-form-wrapper {
	@apply tw-flex tw-flex-col tw-gap-6 tw-px-1 tw-mt-2 tw-mb-4;

	> div:nth-of-type(2) {
		@apply tw-mb-1;
	}

	> div:nth-of-type(3) {
		@apply tw-flex tw-items-center;

		> button {
			@apply tw-p-1;

			> svg {
				@apply tw-will-change-auto tw-transition-transform;
			}

			&:hover > svg {
				@apply tw-rotate-180;
			}
		}
	}

	> div:nth-of-type(4) {
		@apply tw-flex tw-items-center tw-gap-3;
	}

	> div:nth-of-type(5) {
		@apply tw-flex tw-flex-col tw-items-end;

		> button {
			@apply tw-py-1.5 tw-px-2 tw-border tw-border-muted tw-mr-6 tw-mt-4;
		}

		> div {
			@apply tw-absolute tw-left-0;
		}
	}
}

.appearance-form-wrapper {
	@apply tw-flex tw-flex-col tw-gap-6 tw-px-1 tw-mt-2 tw-mb-4;

	> div:nth-of-type(1),
	> div:nth-of-type(2),
	> div:nth-of-type(3) {
		@apply tw-flex tw-items-center tw-gap-3;

		> button {
			@apply tw-p-1;

			> svg {
				@apply tw-will-change-auto tw-transition-transform;
			}

			&:hover > svg {
				@apply tw-rotate-180;
			}
		}
	}

	> div:nth-of-type(4) {
		@apply tw-flex tw-flex-col tw-items-end;

		> button {
			@apply tw-py-1.5 tw-px-2 tw-border tw-border-muted tw-mr-6 tw-mt-4;
		}

		> div {
			@apply tw-absolute tw-left-0;
		}
	}
}

.telegram-connect-wrapper {
	@apply tw-flex tw-flex-col tw-px-1 tw-mt-2 tw-mb-4 tw-gap-5;

	> div:nth-of-type(1) {
		@apply tw-flex tw-flex-col tw-gap-2;

		> p {
			@apply tw-opacity-0 tw-animate-show-effect;

			> a,
			> span {
				@apply tw-underline tw-font-medium tw-select-none;
			}

			&:first-of-type > span {
				@apply tw-no-underline;
			}
		}
	}

	> div:nth-of-type(2) {
		@apply tw-flex tw-flex-col tw-items-end;

		> div:first-of-type {
			@apply tw-absolute tw-left-0;
		}

		> div:last-of-type {
			@apply tw-flex tw-items-center tw-gap-4 tw-mt-4 tw-mr-6;

			> a {
				@apply tw-text-black tw-transition-colors;

				&:hover {
					@apply tw-text-muted;
				}
			}

			> button {
				@apply tw-py-1.5 tw-px-2;
			}
		}
	}
}
