.avatar-wrapper {
	@apply flex items-center gap-4 mt-4 ml-1;
}

.avatar-loading {
	@apply w-24 h-24 rounded-full !important;
}

.avatar-image {
	@apply w-24 h-24;

	> img {
		@apply animate-show-effect opacity-0;
	}
}

.avatar-actions {
	> div {
		@apply flex items-center gap-3 mb-2;

		> button:first-of-type {
			@apply py-2 px-2.5 rounded-2xl !important;
		}
	}

	> p {
		@apply text-muted text-sm font-normal ml-1;
	}
}

.info-form-wrapper {
	@apply flex flex-col gap-6 px-1 mt-2 mb-4;

	> div:nth-of-type(2) {
		@apply mb-1;
	}

	> div:nth-of-type(3) {
		@apply flex items-center;

		> button {
			@apply p-1;

			> svg {
				@apply will-change-auto transition-transform;
			}

			&:hover > svg {
				@apply rotate-180;
			}
		}
	}

	> div:nth-of-type(4) {
		@apply flex items-center gap-3;
	}

	> div:nth-of-type(5) {
		@apply flex flex-col items-end;

		> button {
			@apply py-1.5 px-2 border border-muted mr-6 mt-4;
		}

		> div {
			@apply absolute left-0;
		}
	}
}

.appearance-form-wrapper {
	@apply flex flex-col gap-6 px-1 mt-2 mb-4;

	> div:nth-of-type(1),
	> div:nth-of-type(2),
	> div:nth-of-type(3) {
		@apply flex items-center gap-3;

		> button {
			@apply p-1;

			> svg {
				@apply will-change-auto transition-transform;
			}

			&:hover > svg {
				@apply rotate-180;
			}
		}
	}

	> div:nth-of-type(4) {
		@apply flex flex-col items-end;

		> button {
			@apply py-1.5 px-2 border border-muted mr-6 mt-4;
		}

		> div {
			@apply absolute left-0;
		}
	}
}

.telegram-connect-wrapper {
	@apply flex flex-col px-1 mt-2 mb-4 gap-5;

	> div:nth-of-type(1) {
		@apply flex flex-col gap-2;

		> p {
			@apply opacity-0 animate-show-effect;

			> a,
			> span {
				@apply underline font-medium select-none;
			}

			&:first-of-type > span {
				@apply no-underline;
			}
		}
	}

	> div:nth-of-type(2) {
		@apply flex flex-col items-end;

		> div:first-of-type {
			@apply absolute left-0;
		}

		> div:last-of-type {
			@apply flex items-center gap-4 mt-4 mr-6;

			> a {
				@apply text-black transition-colors;

				&:hover {
					@apply text-muted;
				}
			}

			> button {
				@apply py-1.5 px-2;
			}
		}
	}
}
