.content-wrapper {
	@apply relative mx-10 my-6 w-full;
}

.content-desc {
	@apply mb-4 ml-1 text-muted;
}

.tabs {
	@apply relative flex h-10 w-fit items-center justify-between gap-3 rounded-lg bg-primary px-1 py-1;

	> button {
		@apply z-10 w-28 text-center;
	}

	> div {
		@apply absolute left-0 top-1/2 z-[5] ml-1 h-8 w-28 -translate-y-1/2 rounded-lg bg-secondary transition-all will-change-auto;
	}
}

.unique-status-icon {
	@apply absolute !important;
	@apply pointer-events-none right-8 top-1/4;
}

.unique-status-loading-icon {
	@apply pointer-events-none absolute right-8 top-1/4 animate-spin text-muted;
}
