.content-wrapper {
	@apply relative w-full my-6 mx-10;
}

.content-desc {
	@apply ml-1 mb-4 text-muted;
}

.tabs {
	@apply relative flex items-center justify-between gap-3 w-fit rounded-lg bg-primary h-10 px-1 py-1;

	> button {
		@apply w-28 text-center z-20;
	}

	> div {
		@apply absolute top-1/2 left-0 -translate-y-1/2 bg-secondary rounded-lg h-8 w-28 ml-1 z-10 transition-all will-change-auto;
	}
}

.unique-status-icon {
	@apply absolute !important;
	@apply top-1/4 right-8 pointer-events-none;
}

.unique-status-loading-icon {
	@apply absolute top-1/4 right-8 pointer-events-none text-muted animate-spin;
}
