.title {
	@apply text-xl !important;
}

.description {
	@apply leading-5 !important;
	@apply ml-1;
}

.footer {
	@apply justify-between !important;
	@apply items-center px-1;

	> button {
		@apply py-2 px-3;

		&:last-of-type {
			@apply border border-muted;
		}
	}
}
